.menu {
    margin: auto 0;
    display: inline;
}
/* TODO адаптивный переход меню на мобилках*/
.menulist {
    list-style: none;
    display: inline;
    display: flex;
    gap: 30px;
}

.ui.button {
    font-family: 'Flasty';
    font-weight: 100;
}

